<form method='post' action='/buku'>
   <div class="mb-3">
     <label  class="form-label">Kode Buku</label>
     <input type="text" class="form-control" id="kode_buku" name='kode_buku'>
   </div>
   <div class="mb-3">
     <label  class="form-label">Judul Buku</label>
     <input type="text" class="form-control" id="judul_buku" name='judul_buku'>
   </div>
   <div class="mb-3">
     <label  class="form-label">Pengarang</label>
     <input type="text" class="form-control" id="pengarang" name='pengarang'>
   </div>
   <div class="mb-3">
     <label  class="form-label">Penerbit</label>
     <input type="text" class="form-control" id="penerbit" name='penerbit'>
   </div>

   <button type="submit" class="btn btn-primary">Submit</button>
   <a href="/">Kembali</a>
 </form>